.App {
  margin: 0px auto;
  padding: 16px 60px;
}

.App__Header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.select__Room--container {
  margin: 0px auto;
  width: 80%;
  background-color: white;
  padding: 10px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}


@media (max-width: 600px) {
  .select__Room--container {
    margin: 0 auto;
    margin-left: -15px;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    box-shadow: none;
    border-radius: none;
  }
}